POSTGRES_USER=[db_user]
POSTGRES_PASSWORD=[db_password]
POSTGRES_DB=[db_name]
JWT_SECRET=[jwt_secret]
ADM_FN=[Admin First Name]
ADM_LN=[Admin Last Name]
ADM_UN=[Admin User Name]
ADM_PW=[Admin Password]